<div class="container d-flex algn-cntr jstfy-cntr">
  <form
    id="add-post"
    action="/posts/upload-blog"
    enctype="multipart/form-data"
    method="post"
  >
    <h2>Add POST</h2>
    <input type="text" name="title" id="title" placeholder="Enter Post title" />
    <input
      type="text"
      name="metaDesc"
      id="metaDesc"
      placeholder="Enter Post metaDesc"
    />
    <textarea name="desc" id="desc" placeholder="Write Here..."></textarea>
    <select name="category" id="category">
      <option disabled selected>Select Post Category</option>
      <option value="html">HTML</option>
      <option value="css">CSS</option>
      <option value="javascript">JavaScript</option>
      <option value="php">PHP</option>
      <option value="angular">Angular</option>
    </select>
    <input
      type="text"
      name="tags"
      id="tags"
      placeholder="Enter Tags with seprated by comma(,)"
    />
    <input type="file" name="image" id="image" />
    <button type="submit">Add Post</button>
  </form>
</div>
