<section>
  <div class="container d-flex jstfy-cntr algn-cntr login-section">
    <form id="login-form" class="login-form" action="users/login" method="post">
      <h2>Login</h2>
      <input
        type="email"
        name="useremail"
        id="useremail"
        placeholder="Enter Email Id"
      />
      <input
        type="password"
        name="password"
        id="userpass"
        placeholder="Enter Password"
      />
      <button type="submit">Login</button>
    </form>
  </div>
</section>
