<div class="right-sidebar">
  <div class="search-bar">
    <label for="search" class="mb-10">Search Here</label>
    <div class="d-flex algn-cntr">
      <input
        type="text"
        name="query"
        id="search"
        placeholder="Search Here..."
      /><i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <!-- <div class="category mt-1">
      <label>Category</label>
      <ul>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">BootStrap</a></li>
        <li><a href="#">PHP</a></li>
        <li><a href="#">Flutter</a></li>
        <li><a href="#">Angular</a></li>
      </ul>
    </div> -->
    <!-- <div class="tags mt-1">
      <label>Tags</label>
      <span>#HTML</span><span>#CSS</span><span>#JS</span><span>#PHP</span
      ><span>#C++</span>
    </div> -->
  </div>
</div>
