<section>
  <div class="container d-flex jstfy-cntr algn-cntr signup-section">
    <form
      class="signup-form"
      action="users/register"
      method="post"
      id="signup-form"
    >
      <h2>Signup</h2>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter username"
      />
      <input
        type="email"
        name="useremail"
        id="useremail"
        placeholder="Enter Email Id"
      />
      <input
        type="text"
        name="firstname"
        id="firstname"
        placeholder="Enter firstname"
      />
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Enter lastname"
      />
      <input
        type="password"
        name="userpass"
        id="userpass"
        placeholder="Enter Password"
      />
      <input
        type="password"
        name="confirmpass"
        id="confirmpass"
        placeholder="Enter Confirm Password"
      />
      <button type="submit">Signup</button>
    </form>
  </div>
</section>
